<!DOCTYPE html>
<html class="x-admin-sm">

    <head>
        <meta charset="UTF-8">
        <title>MyGO2.0</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/font.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/xadmin.css') }}">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>

    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="field_name" class="layui-form-label">
                            <span class="x-red">*</span>田地名字</label>
                        <div class="layui-input-inline">
                            <span id="field_name" name="field_name"></span></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="size" class="layui-form-label">
                            <span class="x-red">*</span>田地大小</label>
                        <div class="layui-input-inline">
                            <span id="size" name="size"></span></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="crop_class" class="layui-form-label">
                            <span class="x-red">*</span>种植作物类型</label>
                        <div class="layui-input-inline">
                            <span id="crop_class" name="crop_class"></span></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="latitude" class="layui-form-label">
                            <span class="x-red">*</span>纬度</label>
                        <div class="layui-input-inline">
                           <span id="latitude" name="latitude"></span></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="longitude" class="layui-form-label">
                            <span class="x-red">*</span>经度</label>
                        <div class="layui-input-inline">
                            <span id="longitude" name="longitude"></span></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="N" class="layui-form-label">
                            <span class="x-red">*</span>土壤含氮(0~0.15)</label>
                        <div class="layui-input-inline">
                            <span id="N" name="N"></span></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="P" class="layui-form-label">
                            <span class="x-red">*</span>土壤含磷(0~0.25)</label>
                        <div class="layui-input-inline">
                            <span id="P" name="P"></span></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="K" class="layui-form-label">
                            <span class="x-red">*</span>土壤含钾(0~0.35)</label>
                        <div class="layui-input-inline">
                            <span id="K" name="K"></span></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="pH" class="layui-form-label">
                            <span class="x-red">*</span>土壤pH值(0~14)</label>
                        <div class="layui-input-inline">
                            <span id="pH" name="pH"></span></div>
                    </div>
                </form>
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <blockquote class="layui-elem-quote">
                            土壤指标预览
                        </blockquote>
                        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                        <div id="main" style="width: 100%;height:400px;"></div>
                        <blockquote class="layui-elem-quote">
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            // 解析URL查询参数
            var urlParams = new URLSearchParams(window.location.search);
            var queryParams = {
                field_id: '{{field_id}}'
            };

            console.log('DOMContentLoaded 事件已触发');
            fetch('./field_list',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(queryParams)
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                data = data.field_list[0];
                // 填充表单
                document.getElementById('field_name').innerText = data.field_name || '';
                document.getElementById('size').innerText = data.size || '';
                document.getElementById('crop_class').innerText = data.crop_class || '';
                document.getElementById('latitude').innerText = data.latitude || '';
                document.getElementById('longitude').innerText = data.longitude || '';
                document.getElementById('N').innerText = data.N || '';
                document.getElementById('P').innerText = data.P || '';
                document.getElementById('K').innerText = data.K || '';
                document.getElementById('pH').innerText = data.pH || '';
            })
            .catch(function(error) {
                layer.msg('获取目标数据失败', {icon: 5});
            });

        });
        </script>
        <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            
            var pH = document.getElementById('pH').innerText;
            var N = document.getElementById('N').innerText;
            var P = document.getElementById('P').innerText;
            var K = document.getElementById('K').innerText;
            var option = {
                title: {
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                },
                radar: [
                    // 第一个雷达图配置
                    {
                        // 雷达图的指标
                        indicator: [
                            { name: '土壤pH值', max: 14 },
                            { name: '土壤含氮', max: 0.15, min: 0 },
                            { name: '土壤含磷', max: 0.25, min: 0 },
                            { name: '土壤含钾', max: 0.35, min: 0 },
                        ],
                        // 雷达图中心点位置
                        center: ['25%', '50%'],
                        // 雷达图半径
                        radius: '55%'
                    }
                ],
                series: [
                    // 第一个雷达图的数据系列
                    {
                        type: 'radar',
                        // 指定当前系列数据对应的雷达图下标
                        // 数据内容
                        data: [
                            {
                                value: [pH,N,P,K]
                            }
                        ]
                        // 其他配置...
                    }
    
                ]
            };
    
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>