<!DOCTYPE html>
<html class="x-admin-sm">

    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/font.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/xadmin.css') }}">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>

    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="product_name" class="layui-form-label">
                            <span class="x-red">*</span>产品名字</label>
                        <div class="layui-input-inline">
                            <input type="text" id="product_name" name="product_name" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="product_class" class="layui-form-label">
                            <span class="x-red">*</span>产品类型</label>
                        <div class="layui-input-inline">
                            <input type="text" id="product_class" name="product_class" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="product_price" class="layui-form-label">
                            <span class="x-red">*</span>产品价格</label>
                        <div class="layui-input-inline">
                            <input type="number" id="product_price" name="product_price" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label"></label>
            <button class="layui-btn" id="L_repass" lay-filter="add" lay-submit="">增加</button></div>
        </form>
        </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            // 获取表单元素
            var form = document.querySelector('.layui-form');

            // 监听表单的提交事件
            form.addEventListener('submit', function(event) {
                event.preventDefault(); // 阻止表单默认提交行为

                // 使用FormData对象来获取表单数据
                var formData = new FormData(form);

                // 使用fetch API发送数据
                fetch('/add_product', {
                    method: 'POST',
                    body: formData
                })
                .then(function(response) {
                    return response.json(); // 解析JSON响应
                })
                .then(function(data) {
                    if (data.response === 'success') {
                        // 更新成功
                        layer.msg('数据提交成功', {icon: 1});
                    } else {
                        // 更新失败
                        layer.msg('数据提交失败', {icon: 5});
                    }
                })
                .catch(function(error) {
                    console.error('Error:', error); // 处理任何在请求过程中发生的错误
                });
            });
        });
        </script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>