<!DOCTYPE html>
<html class="x-admin-sm">

    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/font.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/xadmin.css') }}">
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
    </head>

    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">产品管理</a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">

                                <div class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input" placeholder="产品类型" name="product_class" id="product_class"></div>

                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="search" id="search">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn" onclick="xadmin.open('添加产品','./product_add.html',800,600)">
                                <i class="layui-icon"></i>添加</button></div>
                        <div class="layui-card-body">
                            <table id="jsonTable" lay-filter="jsonTableFilter"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        layui.use(['laydate', 'table', 'layer'], function() {
        var laydate = layui.laydate;
        var table = layui.table;
        var layer = layui.layer;

        // 执行一个laydate实例
        laydate.render({
            elem: '#start' // 指定元素
        });

        // 执行一个laydate实例
        laydate.render({
            elem: '#end' // 指定元素
        });

        // 初始化表格
        function initTable(data) {
            table.render({
                elem: '#jsonTable',
                cols: [[ // 标题栏
                    {field: 'product_id', title: '产品id', width: 120, sort: true},
                    {field: 'product_name', title: '产品名字', width: 120},
                    {field: 'product_class', title: '产品类型', width: 180},
                    {field: 'product_price', title: '产品价格', width: 180, sort: true},
                    {title: '操作', width: 180, templet: function(d){
                        return '<div class="td-manage">' +
                               '<a title="编辑" onclick="member_change(this,\'' + d.product_id + '\')" href="javascript:;">' +
                               '<i class="layui-icon">&#xe63c;</i></a>' +
                               '<a title="删除" onclick="member_del(this,\'' + d.product_id + '\')" href="javascript:;">' +
                               '<i class="layui-icon">&#xe640;</i></a>' +
                               '</div>';
                    }}
                ]],
                data: data, // 数据接口
                page: true // 开启分页
            });
        }

        window.member_change = function(obj, id) {
            // 打开新的网页，传递ID参数
            xadmin.open('修改产品','./product_change.html?product_id=' + id);
        }

        // 删除成员
        window.member_del = function(obj, id) {
            layer.confirm('确认要删除吗？', function(index) {
                // 发送删除请求
                fetch('./del_product?product_id=' + id)
                .then(function(response) {
                    return response.json();
                })
                .then(function(jsonData) {
                //返回success
                    if (jsonData.response === 'success') {
                        // 删除成功
                        layer.msg('已删除!', {icon: 1});
                        // 刷新表格
                        fetch('./product_list')
                        .then(function(response) {
                            return response.json();
                        })
                        .then(function(jsonData) {
                            initTable(jsonData.product_list); // 展示数据
                        })
                        .catch(function(error) {
                            layer.msg('数据加载失败', {icon: 5});
                        });
                    } else {
                        // 删除失败
                        layer.msg('删除失败', {icon: 5});
                    }
                })
                .catch(function(error) {
                    layer.msg('请求失败', {icon: 5});
                });
                layer.close(index);
            });
        }

        // 页面加载完毕自动获取全部数据
        fetch('./product_list')
        .then(function(response) {
            return response.json();
        })
        .then(function(jsonData) {
            initTable(jsonData.product_list); // 展示数据
        })
        .catch(function(error) {
            layer.msg('数据加载失败', {icon: 5});
        });

        // 绑定搜索按钮的点击事件
        document.getElementById('search').addEventListener('click', function() {

            var productClass = document.getElementById('product_class').value;

            if (!productClass) {
                layer.msg('请输入至少一个搜索条件', {icon: 5});
                fetch('./product_list')
                .then(function(response) {
                    return response.json();
                })
                .then(function(jsonData) {
                    initTable(jsonData.product_list); // 展示数据
                })
                .catch(function(error) {
                    layer.msg('数据加载失败', {icon: 5});
                });
                return; // 如果所有数据为空，则不执行后续操作
            }

            // 构建查询参数
            var queryParams = new URLSearchParams({
                product_class: productClass,
            });

            // 发送带查询参数的请求
            fetch('./product_list?' + queryParams.toString())
            .then(function(response) {
                return response.json();
            })
            .then(function(jsonData) {
                initTable(jsonData.product_list); // 使用搜索结果更新表格
            })
            .catch(function(error) {
                layer.msg('搜索失败', {icon: 5});
            });
        });
    });

    </script>

</html>