<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-MyGO2.0</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/font.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/xadmin.css') }}">
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">欢迎收获管理员！
                                <span id="check_state"></span>
                                <button class="layui-btn" onclick="clock_in()">打卡</button>
                                <button class="layui-btn" onclick="clock_out()">下班</button>
                                <button class="layui-btn" onclick="for_leave()">请假</button>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据统计</div>
                        <div class="layui-card-body ">
                            <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>农田总数</h3>
                                        <p>
                                            <cite>66</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>平均pH</h3>
                                        <p>
                                            <cite>12</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>平均含氮</h3>
                                        <p>
                                            <cite>99</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>平均含磷</h3>
                                        <p>
                                            <cite>67</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>平均含钾</h3>
                                        <p>
                                            <cite>67</cite></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据统计</div>
                        <div class="layui-card-body ">
                            <div id="main" style="width: 100%;height:400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">任务
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">总</span></div>
                        <div class="layui-card-body  ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>完成率
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">任务
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">本年</span></div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>完成率
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">任务
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">本月</span></div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>完成率
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">任务
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">本日</span></div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>完成率
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <style id="welcome_style"></style>
            </div>
        </div>
        </div>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var today = new Date();

            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;

            // 解析URL查询参数
            var checkParams = {
                user_id: '{{user_id}}',
                check_time: today
            };

            // 如果crop_id存在，则发起请求获取数据
            console.log('DOMContentLoaded 事件已触发');
            fetch('./search_check_in',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(checkParams)
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                if(data.check_in_list.length === 0){
                    document.getElementById('check_state').innerText = '今日未打卡';
                }
                else if(data.check_in_list.length === 1){
                    document.getElementById('check_state').innerText = '今日已打卡，别忘了下班';
                }
                else if(data.check_in_list.length === 2){
                    document.getElementById('check_state').innerText = '今日已下班';
                }
                else{
                    layer.msg('错误的签到状态', {icon: 5});
                }
            })
            .catch(function(error) {
                layer.msg('获取目标数据失败', {icon: 5});
            });
        });


        window.clock_in = function(){
            var today = new Date();
            var formData = {
                user_id: '{{user_id}}',
                check_in_state: '上班',
                check_time: today
            }

            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();

            var today_ymd = yyyy + '-' + mm + '-' + dd;

            var checkParams = {
                user_id: '{{user_id}}',
                check_time: today_ymd
            };

            var leaveParams = {
                user_id: '{{user_id}}',
                leave_date: today_ymd
            };

            fetch('./search_leave',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(leaveParams)
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                if(data.leave_list.length === 0){
                }
                else{
                    layer.msg('今日已请假', {icon: 5});
                    return;
                }
            })

            fetch('./search_check_in',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(checkParams)
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                if(data.check_in_list.length === 0){
                    fetch('./add_check_in',{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(formData)
                    })
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(jsonData) {
                    //返回success
                        if (jsonData.response === 'success') {
                            // 删除成功
                            layer.msg('打卡成功', {icon: 1});
                            // 刷新表格
                            location.reload();
                        } else {
                            // 删除失败
                            layer.msg('收获失败', {icon: 5});
                        }
                    })
                    .catch(function(error) {
                        layer.msg('请求失败', {icon: 5});
                    });
                }
                else{
                    layer.msg('今日已打卡', {icon: 5});
                }
            })
            .catch(function(error) {
                layer.msg('获取目标数据失败', {icon: 5});
            });
        }

        window.clock_out = function(){
            var today = new Date();
            var check_in_state;

            var timeZone = 'Asia/Shanghai';
            
            if(today.getHours() > 17){
                check_in_state = '加班';
            }
            else{
                check_in_state = '正常下班'
            }

            var formData = {
                user_id: '{{user_id}}',
                check_in_state: '下班',
                check_time: today
            }

            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();

            var today_ymd = yyyy + '-' + mm + '-' + dd;

            var checkParams = {
                user_id: '{{user_id}}',
                check_time: today_ymd
            };

            console.log('DOMContentLoaded 事件已触发');
            fetch('./search_check_in',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(checkParams)
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                if(data.check_in_list.length === 0){
                    layer.msg('今日未打卡', {icon: 5});
                }
                else if(data.check_in_list.length === 1){
                    fetch('./add_check_in',{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(formData)
                    })
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(jsonData) {
                    //返回success
                        if (jsonData.response === 'success') {
                            layer.msg('下班喽', {icon: 1});
                            location.reload();
                        } else {
                            layer.msg('收获失败', {icon: 5});
                        }
                    })
                    .catch(function(error) {
                        layer.msg('请求失败', {icon: 5});
                    });
                }
                else if(data.check_in_list.length === 2){
                    layer.msg('今日已下班', {icon: 5});
                }
                else{
                    layer.msg('错误的签到状态', {icon: 5});
                }
            })
            .catch(function(error) {
                layer.msg('获取目标数据失败', {icon: 5});
            });
        }

        window.for_leave = function(){
            xadmin.open('请假申请','./for_leave_request.html?user_id=' + '{{user_id}}');
        }
    </script>
</html>